.navbar {
    position: sticky;
    top: 0;
    color: black;
    font-size: 2em;
    height: 50px;
    text-align: center;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;

}

.link {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#logout {
    float: right;
}

.active {
    
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    font-size: 0.9em;
}

.homePage {
    padding: 0;
    margin: 0px;
    text-align: center;
    align-items: center;
    color: black;
    height: 100em;
    width: 100vw;
    background-color: #f5f5f5;
}

/* #productHomeBody {
    height: 100em;
    width: 100vw;
    background-color: #f5f5f5;
} */

.grid {
    padding: 30px;
    /* margin-left: 30%; */
    margin: 10px;
    /* height: 50px; */
    display: inline-table;
    border-radius: 20px;


    background-color: white;

}

img {
    margin: 0px;
    padding: 1px;
    height: 9em;
    width: 13em;
    border-radius: 30px;
    background: none;
}

.BL {
    /* background-color: blueviolet; */
    float: left;
    font-size: 1.1em;
    display: inline;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.BR {
    float: right;

    font-size: 1.1em;
    display: inline;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

#cartbutton {

    margin-right: 2px;
}